@font-face {
  font-family: 'FAZ Gold';
  font-style: normal;
  font-weight: normal;
  src: url("https://dynamic.faz.net/red/2020/coronavirus/homepage-dashboard/fonts/FAZGoldSansWeb-Regular.woff2") format("woff2"), 
    url("https://dynamic.faz.net/red/2020/coronavirus/homepage-dashboard/fonts/FAZGoldSansWeb-Regular.woff") format("woff"),
    url("https://dynamic.faz.net/red/2020/coronavirus/homepage-dashboard/fonts/FAZGoldSansWeb-Regular.eot") format("eot")
}
@font-face {
  font-family: 'FAZ Gold';
  font-style: italic;
  font-weight: normal;
  src: url("https://dynamic.faz.net/red/2020/coronavirus/homepage-dashboard/fonts/FAZGoldSansWeb-Italic.woff2") format("woff2"), 
    url("https://dynamic.faz.net/red/2020/coronavirus/homepage-dashboard/fonts/FAZGoldSansWeb-Italic.woff") format("woff"),
    url("https://dynamic.faz.net/red/2020/coronavirus/homepage-dashboard/fonts/FAZGoldSansWeb-Italic.eot") format("eot")
}
@font-face {
  font-family: 'FAZ Gold';
  font-style: normal;
  font-weight: bold;
  src: url("https://dynamic.faz.net/red/2020/coronavirus/homepage-dashboard/fonts/FAZGoldSansWeb-Bold.woff2") format("woff2"), 
    url("https://dynamic.faz.net/red/2020/coronavirus/homepage-dashboard/fonts/FAZGoldSansWeb-Bold.woff") format("woff"),
    url("https://dynamic.faz.net/red/2020/coronavirus/homepage-dashboard/fonts/FAZGoldSansWeb-Bold.eot") format("eot")
}
@font-face {
  font-family: 'FAZ Gold';
  font-style: italic;
  font-weight: bold;
  src: url("https://dynamic.faz.net/red/2020/coronavirus/homepage-dashboard/fonts/FAZGoldSansWeb-BoldItalic.woff2") format("woff2"), 
    url("https://dynamic.faz.net/red/2020/coronavirus/homepage-dashboard/fonts/FAZGoldSansWeb-BoldItalic.woff") format("woff"),
    url("https://dynamic.faz.net/red/2020/coronavirus/homepage-dashboard/fonts/FAZGoldSansWeb-BoldItalic.eot") format("eot")
}



body {
  margin:0;
  box-sizing: border-box;
  background-color: #f4f4f4;
  color:#333333;
}

h1 {
  font-family: 'FAZ Gold', 'FAZ Gold Sans TT', Helvetica, Arial, sans-serif;
  font-size: 20px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-bottom:25px;
  margin-top:15px;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.vue-list {
    list-style: none;
}

#archive-app {
font-family: 'FAZ Gold', 'FAZ Gold Sans TT', Helvetica, Arial, sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
color:#333333;
line-height: 1.4;
margin: 0 auto;
border:0;
}

.archive {
  text-align: center;
  margin: 0 auto;
  margin-bottom:50px;
  width:90%;
  border-bottom:1px solid lightgrey;
}


.grid-label {
  font-size:13px!important;
}

.toplink {
  font-size:13px!important;
  text-align:center;
  color:#666666
}

.toplink a {
  color:#666666
}

.archive-flex-container {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:25px;
  align-content : center;
  padding-left:25px;
  padding-right:25px;
  margin:0;
 
}

.archive-container{
    width:100%;
    height:100%;
    margin: 0 auto;
    vertical-align: center;
}

.archive-overlay{
    visibility:hidden;
    position:fixed;
    left:50px;
    top:50px;
    background-color:#ffffff;
    border: 1px solid #e4e4e4;
    width:700px;
    height:600px;
    padding:20px;
    z-index:100;
}

.archive-overlay iframe {
  width:680px;
  height:550px;
}

.overlay-close {
    float:right;
    cursor:pointer;
    margin-left:5px;
}

.overlay-close img {
    width:20px;
    height:20px;
}

.archive-category{
    margin-bottom:2px;
    font-size:16px;
    font-weight:bold;
    color:#999999;
    height:30px;
    display:block;
    width:100%;
    border-bottom:1px solid lightgrey;
    margin-top:30px;

}

.archive-box{
  width: 250px;
  height: 240px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #ffffff;
  position: relative;

}


.archive-headline{
font-size: 16px;
line-height: 1.1;
font-weight: bold;
margin: 0;
text-align: left!important;
width:100%;
height:34px;

}

.archive-subline{
font-size: 13px;
margin-top: 3px;
width:100%;
text-align:left!important;

}

.archive-screenshot img {
  height: 110px;
  width: 100%;
  margin-top:5px;
  object-fit: cover;
  object-position: top left;
  border: 1px solid #e4e4e4;
}

.archive-footnote{
color: #999;
font-size: 13px;
text-align: center;
margin-top:0;

}

.edit-button {
  border-radius: 3px;
  transition: background-color .5s;
  cursor: pointer;
  position: absolute;
  right: 11px;
  top: 50px;
  padding: 10px;
  background-image: url("../assets/icon-edit.svg");
  background-repeat: no-repeat;
  opacity: 0.6;
  }

  .csv-button {
    border-radius: 3px;
    transition: background-color .5s;
    cursor: pointer;
    position: absolute;
    right: 34px;
    top: 52px;
    padding: 1px;
    font-size:8px;
    background-repeat: no-repeat;
    border: 1px solid #999999;
    color:#666666;
    opacity: 0.6;
    }

    .csv-button a {
      color:#666666;
      opacity: 0.6;
      }

  .archive-logo {
    margin: 0 auto;
    display: block;
  }

  .archive-auto {
    border-radius: 6px;
    padding: 6px;
    background-color:green;
    background-repeat: no-repeat;
    opacity: 0.6;
    width: 0px;  
    float:left;
    margin-right:5px;
    margin-top:3px;
  }

  .archive-man {
    border-radius: 6px;
    padding: 6px;
    background-color:#e5d41a;
    background-repeat: no-repeat;
    opacity: 0.6;
    width: 0px;  
    float:left;
    margin-right:5px;
    margin-top:3px;
  }

.archive-button {
font-size: 13px;
line-height: 25px;
height:25px;
color: #111111;
background-color: #efefef;
text-align: center;
border-radius: 3px;
padding-left: 16px;
padding-right:16px;
margin:5px;
transition: background-color .5s;
cursor:pointer;
position:relative;
display:inline-block;
width:68px;
}

.confluence{
  width:175px;
  }

.archive-button:hover {
  color: #8d0000;
  cursor: pointer;
}

.archive-button a {
    color:#111111;
    text-decoration: none;
  }

  .archive-button a:hover {
    color:#8d0000;
    text-decoration: none;
  }

  .break {
    height: 1px;
    width: 1000px;
  }

  .archive-search-wrapper {
    width:80%;
    text-align: center;
    font-weight:bold;
    margin: 0 auto;
    margin-bottom:20px;
  }

  .archive-input {
    padding:10px;
    margin: 5px;
    border: 1px solid #999999;
    width:250px;
  }

  .archive-filter-wrapper {
    width:80%;
    text-align: center;
    margin: 0 auto;
    margin-bottom:20px;
  }

  .filter-headline {
    margin-bottom:10px;
    font-weight:bold;
  }

  .archive-checkbox {
    margin-left:5px; 
    margin-right:25px;
  }

  
    @media screen and (max-width:680px) {


    .archive-overlay{
      visibility:hidden;
      position:fixed;
      left:10px;
      top:10px;
      width:90%;
      height:500px;
      padding:10px;
      z-index:100;
  }

  .archive-overlay iframe {
    width:95%;
    height:480px;
    padding: 5px;
  }

  
      
    }